.anchor a{
    margin-top: 2px;
    text-decoration: none;
}

.slide img{
    margin-top: 8px;
    height: 584px;
    width: 1440px;
}

.but{
    background-color: #ffffff;
    color:#3f87f5;
    padding: .25rem 1.25rem;
    border: none;
    border-radius: 5px;
}

.ton{
    background-color: #e5e5e5;
    border-radius: 15px;
}

.dif{
    background-color: #ffffff;
}
.precious img{
    position: 737px 863px;
    height:300px ;
    width: 403px;
}

.precious h1{
    color: black;
}

.precious p{
    color: #6c6c6c;
}

.precious .butt{
    color: #ffffff;
    background-color: #3f87f5;
    border: none;
    border-radius: 5px;
}